:root {
  --primary-color: blue;
  --secondary-color: white;
  --primary-text-color: black;
  --secondary-text-color: black;
  --add-message-form-color: #f5f5f5;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  color: #3e5869;
}

.App {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30px repeat(4, 1fr) 60px;
  grid-template-areas:
    "t m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "r m m m m m"
    "n f f f f f"
}

.title {
  grid-area: t;
  margin: 5px 0;
  color: green;
}

.rooms-list {
  grid-area: r;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  height: 100%;
}

.rooms-list ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}

.rooms-list li {
  margin: 10px 0;
}

.rooms-list h4 {
  margin: 5px 0;
  color: var(--primary-text-color);
}

.new-room-form {
  grid-area: n;
  padding: 0 5px;
  background: var(--secondary-color);
  color: var(--primary-text-color);
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  width: 135px;
  background: var(--secondary-color);
}

.new-room-form button {
  background: var(--secondary-color);
  color: var(--primary-text-color);
  border: 0;
}

.new-room-form input::placeholder {
  color: var(--main-text-color);
  font-weight: 200;
}

.new-room-form input:focus {
  outline-width: 0;
}

.new-room-form input {
  border: 0;
}

.new-room-form button {
  border: 0;
}

.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 11px;
  color: var(--primary-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}

.message .message-text {
  background: var(--primary-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  grid-area: m;
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: var(--secondary-color);
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.add-message-form {
  grid-area: f;
  background: var(--add-message-form-color);
  display: flex;
}

.add-message-form input {
  width: 100%;
  padding: 10px 10px;
  margin: 0;
  border-style: none;
  background: var(--add-message-form-color);
  font-weight: 200;
}

.add-message-form button {
  width: 100px;
  text-align: center;
}

.add-message-form input:focus {
  outline-width: 0;
}

.add-message-form input::placeholder {
  color: var(--primary-text-color);
}